[2022-09-29 08:05] lmas3009 opened #1 "Design 01"
You can find design-related images in the Design 01 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
font-style: Poppins

![design1](https://user-images.githubusercontent.com/60876387/192978568-fd0af1d7-1a86-4a35-b2bf-f270142e8be5.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-09-29 08:20] lmas3009 opened #2 "Design 02"
You can find design-related images in the Design 02 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
font-style: Noto Sans KR

![design2](https://user-images.githubusercontent.com/60876387/192979003-7b6ebc04-e88d-40df-8406-14a136e38579.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels

[2022-09-30 12:05] lmas3009 opened #3 "Design 03"
You can find design-related images in the Design 03 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design

![design3](https://user-images.githubusercontent.com/60876387/193265565-a50bc820-5a76-4c9d-8ac8-cc3d62d872e1.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-09-30 12:06] lmas3009 opened #4 "Design 04"
You can find design-related images in the Design 04 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design4](https://user-images.githubusercontent.com/60876387/193265914-e0958672-0643-4b37-b4f9-8833a273e9ab.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-09-30 12:08] lmas3009 opened #5 "Design 05"
You can find design-related images in the Design 05 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design5](https://user-images.githubusercontent.com/60876387/193266327-a2a021de-47c4-46fd-8777-2ecd56152c42.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-09-30 12:11] lmas3009 opened #6 "Design 06"
You can find design-related images in the Design 06 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design6](https://user-images.githubusercontent.com/60876387/193266536-cb384168-53b3-45fa-aac4-a7defbe5e364.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-09-30 12:11] lmas3009 opened #7 "Design 07"
You can find design-related images in the Design 07 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design7](https://user-images.githubusercontent.com/60876387/193266594-c0643538-c9bb-4bb6-9388-11e045a31b41.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-09-30 12:12] lmas3009 opened #8 "Design 08"
You can find design-related images in the Design 08 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design8](https://user-images.githubusercontent.com/60876387/193266628-a6a6d1f2-e862-4918-ad41-dfd7ca5c1571.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-09-30 12:12] lmas3009 opened #9 "Design 09"
You can find design-related images in the Design 09 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design9](https://user-images.githubusercontent.com/60876387/193266656-727afd9d-91f9-417d-b2f9-9ff442aa750a.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-09-30 12:12] lmas3009 opened #10 "Design 10"
You can find design-related images in the Design 10 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design10](https://user-images.githubusercontent.com/60876387/193266679-3b798a32-561d-4b78-b5e4-d7cbfc029c86.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-09-30 12:13] lmas3009 opened #11 "Design 11"
You can find design-related images in the Design 11 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design11](https://user-images.githubusercontent.com/60876387/193267021-96ffb829-7278-4ac0-bb91-e240d128550a.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-09-30 12:13] lmas3009 opened #12 "Design 12"
You can find design-related images in the Design 12 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design12](https://user-images.githubusercontent.com/60876387/193267150-41ce4da6-4a3a-4d29-b4df-7559e311f03d.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-09-30 12:14] lmas3009 opened #13 "Design 13"
You can find design-related images in the Design 13 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design13](https://user-images.githubusercontent.com/60876387/193267233-7db38370-946b-4591-872b-8d6b04159ca3.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-09-30 12:15] lmas3009 opened #14 "Design 14"
You can find design-related images in the Design 14 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design14](https://user-images.githubusercontent.com/60876387/193267438-e53417e8-0d8c-41dd-bd2f-396686679d76.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-09-30 12:16] lmas3009 opened #15 "Design 15"
You can find design-related images in the Design 15 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design15](https://user-images.githubusercontent.com/60876387/193267509-945f9c3d-f97f-4b9b-8938-b6ebe436865f.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-09-30 12:16] lmas3009 opened #16 "Design 16"
You can find design-related images in the Design 16 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design16](https://user-images.githubusercontent.com/60876387/193267585-2350a7bb-db50-4243-a532-7125adfafcf5.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-09-30 12:17] lmas3009 opened #17 "Design 17"
You can find design-related images in the Design 17 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design17](https://user-images.githubusercontent.com/60876387/193267649-046cc8a5-e778-4888-b045-6bd07e62a5ee.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-09-30 12:17] lmas3009 opened #18 "Design 18"
You can find design-related images in the Design 18 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design18](https://user-images.githubusercontent.com/60876387/193267722-c03ac0ae-e83d-4624-ad62-995ac4c6f5f4.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-09-30 12:18] lmas3009 opened #19 "Design 19"
You can find design-related images in the Design 19 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design19](https://user-images.githubusercontent.com/60876387/193267782-c5dfda35-6e07-409e-86d2-c0d66bac7bf2.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-09-30 12:18] lmas3009 opened #20 "Design 20"
You can find design-related images in the Design 20 folder

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design20](https://user-images.githubusercontent.com/60876387/193267831-e4fae4ac-abdc-4dd8-b6ab-1d7d21a4dfbf.png)

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 00:55] tanitoluwam commented on #19
Hi, I would love to work on this design, kindly assign it to me

[2022-10-01 00:57] tanitoluwam commented on #16
I would love to work on this,kidly asssign  it to me so i can begin

[2022-10-01 00:59] tanitoluwam commented on #14
Hi,i would love to work on this, kindly assign me to it

[2022-10-01 01:00] tanitoluwam commented on #13
Hi, i would love to work on this, kindly assign me to it

[2022-10-01 01:32] lmas3009 commented on #14
I just assigned to you @tanitoluwam

[2022-10-01 06:17] AayushBiswas commented on #1
May I work on this issue

[2022-10-01 06:17] AayushBiswas commented on #1
Can you please assign it to me

[2022-10-01 06:17] lmas3009 commented on #1
Yes you can work on this

[2022-10-01 06:25] Sumitmaithani commented on #20
Hey @lmas3009 I'm frontend developer and want to contribute your project please assign to me so i can start work on it.

[2022-10-01 06:27] lmas3009 commented on #20
@Sumitmaithani I just assigned to you

[2022-10-01 06:36] Sumitmaithani commented on #20
Thank you @lmas3009 now I started working on it.  I can used react and other design library to built right?

[2022-10-01 06:37] lmas3009 commented on #20
Yes you can use any frameworks

[2022-10-01 07:00] pratiksrivastava01 commented on #16
@lmas3009 can i work on this

[2022-10-01 07:04] Esha-01 commented on #4
@lmas3009 assign this to me.

[2022-10-01 07:04] pratiksrivastava01 commented on #5
@lmas3009 please assign this to me

[2022-10-01 07:06] pratiksrivastava01 commented on #7
@lmas3009 please assign this to me

[2022-10-01 07:06] Esha-01 commented on #6
@lmas3009  Assign this to me.

[2022-10-01 07:09] Esha-01 commented on #8
@lmas3009 Assign this to me.

[2022-10-01 07:13] Esha-01 commented on #12
@lmas3009 assign this to me

[2022-10-01 07:46] lmas3009 commented on #7
You can start working on it

[2022-10-01 07:47] lmas3009 commented on #6
You can start working on it @Esha-01

[2022-10-01 07:51] Esha-01 commented on #9
@lmas3009 I can work on it .Kindly assign this to me.

[2022-10-01 07:54] lmas3009 commented on #9
A few minutes back I assigned you for this issue #6. After completing that I can assign a new issue

[2022-10-01 08:07] Nainish-Rai commented on #18
hey, I want to contribute, Please assign it to me so i can start working on it.

[2022-10-01 08:13] lmas3009 commented on #18
Start working on it @Nainish-Rai

[2022-10-01 08:57] AayushBiswas commented on #1
I have submitted it. Can you accept it for hacktoberfest

[2022-10-01 09:06] Sumitmaithani commented on #20
Hey @lmas3009 I've completed myy task but i cannot able to pus my code in my own created branch it show this??
![Hyper 10_1_2022 2_33_40 PM (2)](https://user-images.githubusercontent.com/86047367/193402023-e76373d9-6cfa-433c-8b42-4608d02a3e4f.png)

[2022-10-01 09:09] AayushBiswas commented on #1
Removed node_modules

[2022-10-01 09:11] lmas3009 commented on #1
Thanks for your contribution. I marked the PR with hacktoberfest-accepted

[2022-10-01 09:11] #1 closed

[2022-10-01 09:13] lmas3009 commented on #20
First you need to fork the repository and clone the forked repository. Make changes in that and try to push from that forked repo. It will work.

[2022-10-01 09:17] AayushBiswas commented on #3
Can I be assigned for this issue

[2022-10-01 09:24] Nainish-Rai commented on #18
@lmas3009 I have created the design and opened a pull request. Kindly Check the contribution andlet me know if any change is required.

[2022-10-01 09:42] Nainish-Rai commented on #15
Hey, I want to contribute to this issue, Kindly assign me So that i can start working on it.

[2022-10-01 10:45] lmas3009 commented on #18
Thanks for contributing

[2022-10-01 10:45] #18 closed

[2022-10-01 10:46] lmas3009 commented on #15
You can start working on it

[2022-10-01 10:56] lmas3009 commented on #1
@AayushBiswas under hacktoberfest profile what status it is showing

[2022-10-01 11:00] Sumitmaithani commented on #20
@lmas3009  thanks for help I've completed my task please view it and tell me if need some changes #23

[2022-10-01 11:03] lmas3009 commented on #20
Can you share the screenshot of the page

[2022-10-01 11:11] Sumitmaithani commented on #20
![Design 20 - Google Chrome 10_1_2022 4_17_56 PM](https://user-images.githubusercontent.com/86047367/193406678-17bd97c8-9cff-4339-b628-62d216a0fb04.png)
![Design 20 - Google Chrome 10_1_2022 4_34_54 PM](https://user-images.githubusercontent.com/86047367/193406706-1f91e2da-3007-4cf2-8828-e0da0ef1cc98.png)
![Design 20 - Google Chrome 10_1_2022 4_35_11 PM](https://user-images.githubusercontent.com/86

[2022-10-01 11:12] lmas3009 commented on #20
Thanks

[2022-10-01 11:12] lmas3009 commented on #20
The design is looking good. Thanks for the Contribution 🤝

[2022-10-01 11:14] #20 closed

[2022-10-01 11:17] Sumitmaithani commented on #20
Thanks @lmas3009 can i contribute in other design also?

[2022-10-01 11:19] lmas3009 commented on #20
yes you can

[2022-10-01 11:20] lmas3009 commented on #20
What status it is showing in hacktoberfest profile

[2022-10-01 11:23] Sumitmaithani commented on #10
hey @lmas3009 I want to contribute on tis design. Can you assign to me.

[2022-10-01 11:24] lmas3009 commented on #10
You can start working on it

[2022-10-01 11:34] AayushBiswas commented on #3
Please

[2022-10-01 11:36] AayushBiswas commented on #1
It is going for review for 7 days

[2022-10-01 11:42] lmas3009 commented on #3
You can start working on it

[2022-10-01 11:42] lmas3009 commented on #1
okay

[2022-10-01 11:44] AayushBiswas commented on #3
Will I make the clock actually count down to the time or fixed time

[2022-10-01 11:46] lmas3009 commented on #3
count down time

[2022-10-01 11:56] AayushBiswas commented on #3
Date please

[2022-10-01 12:11] Anurag-Singh-04 commented on #2
Hey @lmas3009 so how exactly do we contribute to this project ? I am new to this, it would be great if you could help.

[2022-10-01 12:17] lmas3009 commented on #3
The last date is 31th October. Add days, mins, secs

[2022-10-01 12:17] AayushBiswas commented on #3
So the minute can exceed 60 or limit to 60 only

[2022-10-01 12:18] lmas3009 commented on #3
Limit 60

[2022-10-01 12:32] AayushBiswas commented on #3
Done

[2022-10-01 12:38] AayushBiswas commented on #4
Can you assign it to me

[2022-10-01 12:47] Nainish-Rai commented on #15
@lmas3009 I have created the design and opened a pull request; kindly check and let me know if any change is required.

[2022-10-01 13:10] Sumitmaithani commented on #10
completed design 10 @lmas3009  #26

[2022-10-01 13:12] Sumitmaithani commented on #10
![Design 10 - Google Chrome 10_1_2022 6_40_53 PM](https://user-images.githubusercontent.com/86047367/193411154-aae9143e-b696-4353-88e8-78426909c8bb.png)
![Design 10 - Google Chrome 10_1_2022 6_41_07 PM](https://user-images.githubusercontent.com/86047367/193411162-eb5a548a-2ffa-4065-b66d-7f5ad46e7257.png)

[2022-10-01 13:32] Nainish-Rai commented on #11
Hey,I would love to create this design,Kindly assign me

[2022-10-01 15:00] lmas3009 commented on #10
Looking Good. Thanks for the contribution 🤝

[2022-10-01 15:01] #10 closed

[2022-10-01 15:02] lmas3009 commented on #15
Thanks for the contribution 🤝

[2022-10-01 15:03] #15 closed

[2022-10-01 15:05] lmas3009 commented on #3
Looking Good. Thanks for contribution 🤝

[2022-10-01 15:05] #3 closed, assigned to AayushBiswas

[2022-10-01 15:08] lmas3009 commented on #11
You can start working on it @Nainish-Rai

[2022-10-01 15:11] lmas3009 commented on #2
Hi @Anurag-Singh-04
You can build a website with HTML and CSS or you can build with frameworks/libraries (React Js, etc...)

On how to raise a PR follow the readme for this project

[2022-10-01 15:19] Sumitmaithani commented on #4
Hey @lmas3009 I want to contribute on this design. Can you assign to me.

[2022-10-01 15:27] lmas3009 commented on #4
@Sumitmaithani You can work on this

[2022-10-01 15:30] mundadapurva commented on #17
@lmas3009 , I am willing to work on this one. Can you assign this to me?

[2022-10-01 15:31] AnietieAkpanumoh commented on #19
Hello, can you assign this to me? I will love to work on it

[2022-10-01 15:32] lmas3009 commented on #17
You can start working on it @mundadapurva

[2022-10-01 15:33] lmas3009 commented on #19
You can start working on it @AnietieAkpanumoh

[2022-10-01 15:35] AayushBiswas commented on #5
Pls assign this issue to me

[2022-10-01 15:35] AayushBiswas commented on #5
I have made it

[2022-10-01 15:35] AnkitMajee commented on #13
I am new to open source and definitely like to make the design for you please assign me so that I can get a start

[2022-10-01 15:39] AnkitMajee commented on #12
I can also make it responsive you can also assign the one to me

[2022-10-01 15:40] lmas3009 commented on #12
Yes you can work on this @AnkitMajee

[2022-10-01 15:40] AnkitMajee commented on #12
Thank you

[2022-10-01 15:48] lmas3009 opened #27 "Design 21"
Upload your designs and code in the Design 21 folder

Create your own design or take the design from Dribble and try to build it and push the code.

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 15:48] lmas3009 opened #28 "Design 22"
Upload your designs and code in the Design 22 folder

Create your own design or take the design from Dribble and try to build it and push the code.

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 15:49] lmas3009 opened #29 "Design 23"
Upload your designs and code in the Design 23 folder

Create your own design or take the design from Dribble and try to build it and push the code.

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 15:50] lmas3009 opened #30 "Design 24"
Upload your designs and code in the Design 24 folder

Create your own design or take the design from Dribble and try to build it and push the code.

Build a Website

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 15:51] lmas3009 opened #31 "Design 25"
Upload your designs and code in the Design 25 folder

Create your own design or take the design from Dribble and try to build it and push the code.

Build a Website

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 15:52] lmas3009 opened #32 "Design 26"
Upload your designs and code in the Design 26 folder

Create your own design or take the design from Dribble and try to build it and push the code.

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 15:52] Asterisk-z commented on #27
I would love to take up the issue

[2022-10-01 15:52] lmas3009 opened #33 "Design 27"
Upload your designs and code in the Design 27 folder

Create your own design or take the design from Dribble and try to build it and push the code.

Build a Website

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 15:53] lmas3009 opened #34 "Design 28"
Upload your designs and code in the Design 28 folder

Create your own design or take the design from Dribble and try to build it and push the code.

Build a Website

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 15:53] lmas3009 commented on #27
Sure, you can work on this @Asterisk-z

[2022-10-01 15:54] lmas3009 commented on #27
Make sure while making PR try to add a screenshot of the result

[2022-10-01 15:54] HimangsKalita commented on #28
would love to work on this

[2022-10-01 15:55] lmas3009 opened #35 "Design 29"
Upload your designs and code in the Design 29 folder

Create your own design or take the design from Dribble and try to build it and push the code.

Build a Website

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 15:55] lmas3009 opened #36 "Design 30"
Upload your designs and code in the Design 30 folder

Create your own design or take the design from Dribble and try to build it and push the code.

Build a Website

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 15:56] lmas3009 commented on #28
Sure, you can work on this @HimangsKalita

[2022-10-01 15:56] NyanCyanide commented on #9
Can I work on this?

[2022-10-01 15:56] lmas3009 opened #37 "Design 31"
Upload your designs and code in the Design 31 folder

Create your own design or take the design from Dribble and try to build it and push the code.

Build a Website

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 15:57] lmas3009 commented on #9
Yes you can work on this

[2022-10-01 15:57] lmas3009 opened #38 "Design 32"
Upload your designs and code in the Design 32 folder

Create your own design or take the design from Dribble and try to build it and push the code.

Build a Website

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 15:58] lmas3009 opened #39 "Design 33"
Upload your designs and code in the Design 33 folder

Create your own design or take the design from Dribble and try to build it and push the code.

Build a Website

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 15:58] lmas3009 opened #40 "Design 34"
Upload your designs and code in the Design 34 folder

Create your own design or take the design from Dribble and try to build it and push the code.

Build a Website

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 15:58] NyanCyanide commented on #9
Yea sure I'll, Can I get assigned?

[2022-10-01 15:59] lmas3009 opened #41 "Design 35"
Upload your designs and code in the Design 35 folder

Create your own design or take the design from Dribble and try to build it and push the code.

Build a Website

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 15:59] lmas3009 opened #42 "Design 36"
Upload your designs and code in the Design 36 folder

Create your own design or take the design from Dribble and try to build it and push the code.

Build a Website

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 16:00] lmas3009 opened #43 "Design 37"
Upload your designs and code in the Design 37 folder

Create your own design or take the design from Dribble and try to build it and push the code.

Build a Website

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 16:00] lmas3009 opened #44 "Design 38"
Upload your designs and code in the Design 38 folder

Create your own design or take the design from Dribble and try to build it and push the code.

Build a Website

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 16:01] lmas3009 opened #45 "Design 39"
Upload your designs and code in the Design 39 folder

Create your own design or take the design from Dribble and try to build it and push the code.

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 16:02] lmas3009 opened #46 "Design 40"
Upload your designs and code in the Design 40 folder

Create your own design or take the design from Dribble and try to build it and push the code.

## Resources

fonts: https://fonts.google.com
colors: https://coolors.co
images: https://unsplash.com or https://www.pexels.com

[2022-10-01 16:03] lmas3009 commented on #9
i just assigned to you @NyanCyanide

[2022-10-01 16:06] manipta commented on #32
I want to upload my logo.

[2022-10-01 16:13] lmas3009 commented on #32
@manipta  You need to build a website

[2022-10-01 16:14] sunidhisachan commented on #45
hey @lmas3009 , I will do this.

[2022-10-01 16:15] manipta commented on #32
okk

[2022-10-01 16:16] lmas3009 commented on #45
Yes you can start working on it @sunidhisachan

[2022-10-01 16:20] sunidhisachan commented on #45
@lmas3009 , can we add our existing front end project?

[2022-10-01 16:21] lmas3009 commented on #5
Issue Closed

[2022-10-01 16:21] #5 closed

[2022-10-01 16:23] lmas3009 commented on #45
No, Build a custom simple page and push the code. For designs look into Dribble

[2022-10-01 16:24] lmas3009 commented on #4
Issue Closed

[2022-10-01 16:24] #4 closed

[2022-10-01 16:25] Shivashish-rwt commented on #43
I'll do this. Please assign this to me.

[2022-10-01 16:29] Sumitmaithani commented on #31
Hey @lmas3009  i want to build something. Can you assign to me.

[2022-10-01 16:49] AayushBiswas commented on #8
Can I work on this issue

[2022-10-01 17:06] Amarjit-Khan commented on #46
Hey @lmas3009, can I solve this?

[2022-10-01 17:11] lmas3009 commented on #31
Yes you can work on this @Sumitmaithani

[2022-10-01 17:13] lmas3009 commented on #8
Yes you can @AayushBiswas

[2022-10-01 17:21] lmas3009 commented on #46
Yes you can. i will assign this to you  @Amarjit-Khan

[2022-10-01 17:24] lmas3009 commented on #7
Issue closed

[2022-10-01 17:24] #7 closed

[2022-10-01 17:27] lmas3009 commented on #28
Issue Closed

[2022-10-01 17:36] KrishnaChaitanya1822 commented on #42
can I do this?

[2022-10-01 17:38] lmas3009 commented on #42
Yes you can do that @KrishnaChaitanya1822

[2022-10-01 18:27] Nainish-Rai commented on #11
Hey @lmas3009 I have created the design and opened a pull request; Kindly Check.

[2022-10-01 19:54] Sahilbal commented on #29
Could you please brief me what exactly I have to do to contribute in this  repository.

[2022-10-01 21:26] tanitoluwam commented on #14
i will start work right away, thank you

[2022-10-02 00:39] lmas3009 commented on #42
Issue Closed

[2022-10-02 00:40] #42 closed

[2022-10-02 00:45] lmas3009 commented on #9
Issue Closed

[2022-10-02 00:45] #9 closed

[2022-10-02 00:49] lmas3009 commented on #29
Hi  @Sahilbal
You need to build a simple website with your own design / take a design from Dribble and try to build and push the code

[2022-10-02 03:47] KrishnaChaitanya1822 commented on #43
can I do this?

[2022-10-02 03:55] lmas3009 commented on #43
Sure, you can work on this @KrishnaChaitanya1822

[2022-10-02 05:10] soumali28 commented on #44
I would like to work on it under hacktoberfest 2022.

[2022-10-02 05:11] shraddha15-creator commented on #30
Hey, I would like to contribute here. can you please assign this issue to me?

[2022-10-02 05:17] abhayanand08 commented on #33
Hey @lmas3009 I want to build something. Can you please assign this to me.

[2022-10-02 05:24] lmas3009 commented on #30
Sure, you can work on this issue @shraddha15-creator

[2022-10-02 05:25] lmas3009 commented on #33
Sure, you can work on this @abhayanand08

[2022-10-02 05:28] Amarjit-Khan commented on #41
hey, I would like to work on it.

[2022-10-02 05:41] lmas3009 commented on #41
Sure, you can work on this

[2022-10-02 05:49] abhayanand08 commented on #33
@lmas3009 Is it necessary to make it responsive

[2022-10-02 05:53] Nainish-Rai commented on #13
Hey @lmas3009 I would like to create this design; Please assign me So that i can start working on it.

[2022-10-02 05:53] lmas3009 commented on #33
That is optional

[2022-10-02 05:53] Esha-01 commented on #34
Hey @lmas3009  I want to work on this.

[2022-10-02 05:58] abhayanand08 commented on #33
ohkk ohkk

[2022-10-02 06:03] bubblecode76 commented on #40
hi i would like to work on this could you pls assign it to me?

[2022-10-02 06:44] lakshyaagr1105 commented on #34
Hey @lmas3009 , I am Lakshya i would love to work on this issue, so kindly assign this issue to me.

[2022-10-02 06:44] lakshyaagr1105 commented on #32
Hey @lmas3009 , I am Lakshya i would love to work on this issue, so kindly assign this issue to me.

[2022-10-02 06:45] lakshyaagr1105 commented on #29
Hey @lmas3009 , I am Lakshya i would love to work on this issue, so kindly assign this issue to me.

[2022-10-02 06:45] lakshyaagr1105 commented on #37
Hey @lmas3009 , I am Lakshya i would love to work on this issue, so kindly assign this issue to me.

[2022-10-02 06:45] lakshyaagr1105 commented on #36
Hey @lmas3009 , I am Lakshya i would love to work on this issue, so kindly assign this issue to me.

[2022-10-02 06:45] lakshyaagr1105 commented on #35
Hey @lmas3009 , I am Lakshya i would love to work on this issue, so kindly assign this issue to me.

[2022-10-02 06:47] Esha-01 commented on #39
@lmas3009  I would like to work on this .assign this to me.

[2022-10-02 07:06] Sahilbal commented on #29
okok  understood. thank you

[2022-10-02 07:53] lmas3009 commented on #34
Sure, you can work on it @lakshyaagr1105

[2022-10-02 07:56] lmas3009 commented on #39
Sure, you can start working on it @Esha-01

[2022-10-02 07:57] lmas3009 commented on #29
Sure, go ahead

[2022-10-02 08:01] #33 closed

[2022-10-02 08:06] #30 closed

[2022-10-02 08:08] #43 closed

[2022-10-02 08:16] lakshyaagr1105 commented on #34
okay

[2022-10-02 08:24] G0V1NDK commented on #38
Hey, **@lmas3009** assign me this issue.

[2022-10-02 08:37] G0V1NDK commented on #38
Can I push the clone of another website?

[2022-10-02 08:41] lmas3009 commented on #38
Yes you can but you need to push to new code

[2022-10-02 08:41] AayushBiswas commented on #8
Work done

[2022-10-02 08:41] lmas3009 commented on #38
@G0V1NDK  i just assigned to you

[2022-10-02 08:43] abhayanand08 commented on #37
Hi @lmas3009 I would like to build something. Kindly please assign me this issue.

[2022-10-02 08:44] lmas3009 commented on #37
Sure, you can start working on it

[2022-10-02 08:45] lmas3009 commented on #2
@Anurag-Singh-04 are you working on it

[2022-10-02 08:45] lmas3009 commented on #44
Yes you can work under hacktoberfest 2022

[2022-10-02 08:46] lmas3009 commented on #44
I just assigned to you @soumali28

[2022-10-02 08:46] lmas3009 commented on #40
Sure, you can start working on it @bubblecode76

[2022-10-02 08:47] #32 closed

[2022-10-02 08:47] G0V1NDK commented on #38
Got it

[2022-10-02 08:57] AayushBiswas commented on #8
Added the screenshot

[2022-10-02 09:11] #8 closed

[2022-10-02 09:13] #31 closed

[2022-10-02 09:41] Anurag-Singh-04 commented on #2
yes @lmas3009 I am currently working on it.

[2022-10-02 09:44] lmas3009 commented on #2
I just assigned to you @Anurag-Singh-04

[2022-10-02 10:28] abhayanand08 commented on #37
@lmas3009 I have completed it. Kindly review it

[2022-10-02 11:05] pratiksrivastava01 commented on #36
Hey @lmas3009 can i work on this

[2022-10-02 11:05] pratiksrivastava01 commented on #35
Hey @lmas3009 can I work on this

[2022-10-02 11:05] pratiksrivastava01 commented on #13
Hey @lmas3009 can I work on this

[2022-10-02 11:06] pratiksrivastava01 commented on #16
@lmas3009 could you assign me this

[2022-10-02 12:02] #37 closed

[2022-10-02 12:09] #44 closed

[2022-10-02 12:10] lmas3009 commented on #16
Sure, you can start working on it @pratiksrivastava01

[2022-10-02 13:10] abhayanand08 commented on #35
Hey @lmas3009 I want to build something. Can you please assign this to me.

[2022-10-02 13:10] abhayanand08 commented on #36
Hey @lmas3009 I want to build something. Can you please assign this to me.

[2022-10-02 13:23] abhayanand08 commented on #35
Hey @lmas3009 I want to build something good and awesome. Can you please assign this to me.

[2022-10-02 13:26] lmas3009 commented on #35
sure, you can work on it @abhayanand08

[2022-10-02 13:27] lmas3009 commented on #36
@pratiksrivastava01 You can start working on it

[2022-10-02 13:28] lmas3009 commented on #13
@Nainish-Rai  you can start working on it

[2022-10-02 16:26] #34 closed

[2022-10-02 16:31] #35 closed

[2022-10-02 16:40] lmas3009 opened #69 "Discussion session"
Hi all,
Thanks to all who contributed to this repository till now. Kudos to @HimangsKalita @shraddha15-creator @soumali28 @pratiksrivastava01 @gabrielsozinho @NyanCyanide @Esha-01 @lakshyaagr1105 @KrishnaChaitanya1822 @sumitmaithani123 @abhayanand08 @manipta @Nainish-Rai @AayushBiswas

Can share your experience...  And if you want to contribute more you can directly raise a PR with your code and s

[2022-10-02 18:06] pratiksrivastava01 commented on #36
@lmas3009 i have uploaded the design and make a pr please merge it

[2022-10-02 21:00] Anurag-Singh-04 commented on #2
Hey @lmas3009 I have completed this design but I am having some trouble in pushing it on the repo. Could you please help.
Whenever I enter password after git push command it shows this ......

remote: Permission to lmas3009/design2code2live.git denied to Anurag-Singh-04.
fatal: unable to access 'https://github.com/lmas3009/design2code2live.git/': The requested URL returned error: 403

[2022-10-03 01:51] AayushBiswas commented on #69
It was really a nice experience to Me. I would love to work on this project for the next year as well

[2022-10-03 02:54] Esha-01 commented on #69
Had a great experience as a newbie to Opensource.  I would love to contribute in the upcoming years.

[2022-10-03 04:15] Tushar7890 commented on #17
@lmas3009 can i work on this ?

[2022-10-03 05:09] Anurag-Singh-04 commented on #2
Thanks for all the help @lmas3009 , I have made the pull request.

[2022-10-03 05:36] #2 closed

[2022-10-03 05:41] #16 closed

[2022-10-03 05:42] lmas3009 commented on #17
@mundadapurva  are you working on this issue

[2022-10-03 05:43] #6 closed

[2022-10-03 05:44] #11 closed

[2022-10-03 05:47] samuditha97 commented on #46
Hii can I contribute to this?

[2022-10-03 05:50] lmas3009 commented on #46
@samuditha97 you need to create a new folder, not Design 40, and directly raise a PR and push the code

[2022-10-03 06:10] samuditha97 commented on #46
@lmas3009  do you mean to create a design 41 folder and put a PR?

[2022-10-03 06:18] lmas3009 commented on #46
Yes you need to create

[2022-10-03 07:48] abhayanand08 commented on #41
@lmas3009 I have made a design for this issue . Can u please assign this to me .

[2022-10-03 07:56] abhayanand08 commented on #41
I didn't get it what will be the folder name can u give an example ?

[2022-10-03 11:06] lmas3009 commented on #41
If your work is related to Amazon clone. Keep a folder as amazon_clone. If it is a hotel reservation keep it as hotel_reservation

[2022-10-03 14:57] HimangsKalita commented on #69
Nice experience once again learned something new about git and  gtihub

[2022-10-03 15:16] soumali28 commented on #69
It was an amazing experience working on this project. Got to learn a lot.

[2022-10-04 07:23] #38 closed

[2022-10-04 08:20] #39 closed

[2022-10-04 09:48] Nainish-Rai commented on #13
@lmas3009 I have created the design and opened a pull request; Kindly check and let me know any change is required.

[2022-10-04 09:50] Nainish-Rai commented on #69
It was a wonderful experience working on these designs. I strengthened my CSS skills and learned a lot. Thank you <3

[2022-10-04 09:55] #13 closed

[2022-10-04 12:34] Anurag-Singh-04 commented on #12
Hey @lmas3009 I would also like contribute to this project.

[2022-10-05 08:21] #14 closed

[2022-10-06 06:46] #36 closed

[2022-10-06 11:00] #12 closed

[2022-10-07 00:24] lmas3009 commented on #27
@Asterisk-z are you working on this issue

[2022-10-07 05:13] #29 closed

[2022-10-09 03:01] KrishnaChaitanya1822 commented on #27
Can I work on this issue

[2022-10-09 08:29] Asterisk-z commented on #27
Yes i am working on it

[2022-10-09 16:00] KrishnaChaitanya1822 commented on #45
Can I work on this?

[2022-10-09 16:13] lmas3009 commented on #45
@sunidhisachan are you working on this

[2022-10-09 18:28] kkartik07 commented on #17
@lmas3009 can I open more such issues? I think I can contribute as well, but their are no issues.

[2022-10-10 00:29] lmas3009 commented on #17
Yes @kkartik07 you can directly raise a PR with your code and screenshot

[2022-10-10 04:58] kkartik07 commented on #69
Hi @lmas3009, where can I get the designs on which I should work. Or should I work on my own designs?
It would be good if you provide me with some designs.
Thank you!

[2022-10-10 05:10] lmas3009 commented on #69
Hi @kkartik07 you can select any designs from dribble which should be single page.

[2022-10-10 05:40] kkartik07 commented on #69
Ok Thanks.

[2022-10-10 11:43] SahilJin123 commented on #41
@lmas3009 I have worked on Flipkart clone . Can I submit merge request related to it

[2022-10-10 13:34] mundadapurva commented on #17
Yes

[2022-10-10 13:36] lmas3009 commented on #17
okay

[2022-10-10 14:36] lmas3009 commented on #69
Contributors Page
https://www.aravindkumarv.com/design2code2live/desgin2code2live-contri/

For new contributors, it will automatically added to the page

[2022-10-10 15:36] #41 closed

[2022-10-10 16:01] aashish-1904 commented on #45
@lmas3009 I want to work on this project, can you make some more design folders?

[2022-10-11 09:26] KrishnaChaitanya1822 commented on #40
Can I work on this?

[2022-10-11 09:29] KrishnaChaitanya1822 commented on #40
I will contribute within a day. Can you please assign it to me ?

[2022-10-11 14:32] suprity04 commented on #40
Hey @lmas3009 I want to build something good and awesome. Can you please assign this to me.

[2022-10-11 14:33] suprity04 commented on #45
Hey @lmas3009 I want to build something good and awesome. Can you please assign this to me.

[2022-10-11 14:33] suprity04 commented on #28
Hey @lmas3009 I want to build something good and awesome. Can you please assign this to me.

[2022-10-11 14:53] lmas3009 commented on #28
This is already closed

[2022-10-11 14:54] lmas3009 commented on #28
@suprity04  you can directly raise a PR with you code and screenshot

[2022-10-11 14:56] lmas3009 commented on #40
@suprity04  you can directly raise a PR with your code and screenshot

[2022-10-11 14:56] lmas3009 commented on #45
@suprity04  you can directly raise a PR with your code and screenshot

[2022-10-11 15:02] KrishnaChaitanya1822 commented on #40
Can I also raise PR with code & screenshot

[2022-10-11 15:16] lmas3009 commented on #40
Yes you can @KrishnaChaitanya1822

[2022-10-12 05:59] #40 closed

[2022-10-13 04:46] jayantchaudhari18 commented on #45
Hey @lmas3009 ,I would like to work on this issue.

[2022-10-13 05:09] lmas3009 commented on #45
@jayantchaudhari18 you directly raise a PR with your code and screenshot in New Folder, not in Design 39

[2022-10-13 09:52] Anurag-Singh-04 commented on #17
Hey @lmas3009 can I please work on this issue.

[2022-10-13 09:53] Anurag-Singh-04 commented on #19
Hey @lmas3009 can I work on this issue.

[2022-10-13 13:14] lmas3009 commented on #19
Someone is working on this issue right. Wait for 2 more days I will be adding new designs @Anurag-Singh-04

[2022-10-13 13:15] lmas3009 commented on #17
Someone is working on this issue right. Wait for 2 more days I will be adding new designs @Anurag-Singh-04

[2022-10-13 13:27] Anurag-Singh-04 commented on #19
Thanks @lmas3009

[2022-10-13 19:55] mundadapurva commented on #17
@lmas3009 , I've implemented the Design 17. Hope you would merge it.
Link: https://github.com/lmas3009/design2code2live/pull/95

[2022-10-14 11:46] #17 closed

[2022-10-14 17:20] suprity04 commented on #27
Hey @lmas3009  I want to build something good and awesome. Can you please assign this to me.

[2022-10-16 04:27] lmas3009 opened #97 "Design 50"
Create a folder with the Design 50

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design

![design50](https://user-images.githubusercontent.com/60876387/196017783-ceca1034-be69-47a2-a07b-2bf335f7e356.png)
![design50 1](https://user-images.githubusercontent.com/60876387/196017784-6ff9f713-3ac0-4394-b4f7-dc53c0a54d74.png)

## Resources

fonts: https://fonts.google.com
colors:

[2022-10-16 04:27] lmas3009 opened #98 "Design 51"
Create a folder with the Design 51

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design

![design51](https://user-images.githubusercontent.com/60876387/196017792-8ccfd854-ca48-46c0-b7d5-80ffffed8497.png)
![design51 1](https://user-images.githubusercontent.com/60876387/196017794-657c5d28-2475-4c89-bbcb-bc61ca167629.png)

## Resources

fonts: https://fonts.google.com
colors:

[2022-10-16 04:27] lmas3009 opened #99 "Design 52"
Create a folder with the Design 52

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design

![design52](https://user-images.githubusercontent.com/60876387/196017802-bcd4410e-582b-4f19-8e41-c9783bf052da.png)
![design52 1](https://user-images.githubusercontent.com/60876387/196017803-9fbc069b-f1d7-4244-a071-e67752e02d1d.png)

## Resources

fonts: https://fonts.google.com
colors:

[2022-10-16 04:28] lmas3009 opened #100 "Design 53"
Create a folder with the Design 53

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design

![design53](https://user-images.githubusercontent.com/60876387/196017813-c467b5cc-513b-4b53-9291-08e88040ca47.png)
![design53 1](https://user-images.githubusercontent.com/60876387/196017817-d522a6bd-7945-4dc4-aa58-8b53ec32f3e2.png)

## Resources

fonts: https://fonts.google.com
colors:

[2022-10-16 04:28] lmas3009 opened #101 "Design 54"
Create a folder with the Design 54

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design

![design54](https://user-images.githubusercontent.com/60876387/196017835-6d35739c-9ba2-4da0-a91e-24096b5129ab.png)
![design54 1](https://user-images.githubusercontent.com/60876387/196017837-666bf58b-24f5-4430-888e-2533d710b8b1.png)

## Resources

fonts: https://fonts.google.com
colors:

[2022-10-16 04:28] lmas3009 opened #102 "Design 55"
Create a folder with the Design 55

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design

![design55](https://user-images.githubusercontent.com/60876387/196017842-a0d078f1-4d2a-4304-abce-78691cc5eab3.png)
![design55 1](https://user-images.githubusercontent.com/60876387/196017848-4efe2fce-d4c7-4d0c-b6da-4407670294db.png)

## Resources

fonts: https://fonts.google.com
colors:

[2022-10-16 04:28] lmas3009 opened #103 "Design 56"
Create a folder with the Design 56

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design56](https://user-images.githubusercontent.com/60876387/196017858-669db9b5-6cb0-48a8-beb4-4a59886b610d.png)
![design56 1](https://user-images.githubusercontent.com/60876387/196017862-a373e0eb-4dc5-49b0-b3fe-3333a57dcf15.png)

## Resources

fonts: https://fonts.google.com
colors: h

[2022-10-16 04:28] lmas3009 opened #104 "Design 57"
Create a folder with the Design 57

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design

![design57](https://user-images.githubusercontent.com/60876387/196017870-f2bdf080-507b-402e-923a-736ed6a81abf.png)
![design57 1](https://user-images.githubusercontent.com/60876387/196017892-bbb74266-1063-4ea3-8086-f686f53b9d95.png)

## Resources

fonts: https://fonts.google.com
colors:

[2022-10-16 04:29] lmas3009 opened #105 "Design 58"
Create a folder with the Design 58

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design58](https://user-images.githubusercontent.com/60876387/196017900-d89e4d22-7ce4-470b-98b1-070ea278bb72.png)
![design58 1](https://user-images.githubusercontent.com/60876387/196017906-dfd4c24d-e965-4646-9a79-202efea544b8.png)

## Resources

fonts: https://fonts.google.com
colors: h

[2022-10-16 04:29] lmas3009 opened #106 "Design 59"
Create a folder with the Design 59

Optional: Make it Responsive

Design by **Aravind Kumar Vemula**

## Design
![design59](https://user-images.githubusercontent.com/60876387/196017914-4b04f7c7-c60a-40e7-a75d-70a1c06a4796.png)
![design59 1](https://user-images.githubusercontent.com/60876387/196017915-c9e33a6b-5d05-480d-b589-71712c242710.png)

## Resources

fonts: https://fonts.google.com
colors: h

[2022-10-16 04:30] lmas3009 commented on #69
Added New Designs

[2022-10-16 04:31] #28 closed

[2022-10-16 06:04] raazseth commented on #103
Hey, I am interested to contribute on this project!
Please assign me.

[2022-10-16 06:58] savi001 commented on #97
I am interested in this work
Please assign it to me

[2022-10-16 06:59] savi001 commented on #106
I am interested in this work
Please assign it to me

[2022-10-16 07:00] savi001 commented on #104
I am interested in this work
Please assign it to me

[2022-10-16 07:09] dissyulina commented on #98
Hi, I would like to work on this, please assign me. I can use bootstrap, right? And which fonts are used in this design?

[2022-10-16 09:42] GeorgeET15 commented on #105
Hi I would like to work on this can you assign this to me. Thank you

[2022-10-16 10:35] lmas3009 commented on #98
Yes, you can use bootstrap.
Font - Poppins

[2022-10-16 13:08] swapn652 commented on #102
Yo, Can I work on this?

[2022-10-16 16:52] Anand-shreya commented on #101
I'm interested in designing this, can you please assign this to me?

[2022-10-16 17:29] #98 closed

[2022-10-16 17:33] VladenCode commented on #104
Hy. Is it still possible to work on this issue?:)

[2022-10-16 17:34] VladenCode commented on #100
Can I work on this issue?:)

[2022-10-16 17:35] VladenCode commented on #99
Nice design. Can I work on this issue? :)

[2022-10-16 19:33] fallen-ecstasy commented on #100
Hey @lmas3009 , Can you please assign this issue to me...... I can create this ASAP

[2022-10-16 19:47] fallen-ecstasy commented on #100
Could you please provide fonts' link

[2022-10-16 21:14] sumit-022 commented on #106
I can work on this. Please assign me this issue

[2022-10-16 21:18] sumit-022 commented on #104
I can work on this. Please assign me this issue

[2022-10-17 05:37] iisha27 commented on #104
Hey, Please assign this to me.

[2022-10-17 12:29] lmas3009 commented on #100
You can start working on it @fallen-ecstasy

For Awesome - Porter Sans Block
For YOGA - Poor Story
Remaining - Poppins

[2022-10-17 13:16] sumit-022 commented on #106
I have done the work. Please review it

[2022-10-17 16:31] raazseth commented on #103
Can you help me to write Bitcoin exactly like mentioned in the images?

[2022-10-18 05:56] lmas3009 commented on #103
Font- Porter Sans Block - https://www.dafont.com/porter-sans-block.font

[2022-10-18 05:58] #100 closed

[2022-10-18 06:01] #105 closed

[2022-10-18 06:39] #106 closed

[2022-10-18 06:59] fallen-ecstasy commented on #19
Hey @lmas3009, I can see that this issue is opened for too many days.

If @AnietieAkpanumoh is not working on this.... Can you please assign this to me.

Will complete this asap

[2022-10-18 07:00] lmas3009 commented on #19
@AnietieAkpanumoh are you working on this ticket

[2022-10-18 10:42] AnietieAkpanumoh commented on #19
Oh no. Sorry about that. I have been indisposed for some time and can no
longer work on this issue. It can be assigned to someone else.

Thank you.

On Tue, Oct 18, 2022 at 8:01 AM Aravind Kumar Vemula <
***@***.***> wrote:

[2022-10-18 14:23] #102 closed

[2022-10-18 17:56] #101 closed

[2022-10-18 19:51] raazseth commented on #103
Hey,

I made a new PR with issue 103, Can you please check it?

[2022-10-19 13:17] #19 closed

[2022-10-19 16:38] #103 closed

[2022-10-21 19:36] dis-28 commented on #97
hello i would like to contribute to it please assign me this issue

[2022-10-21 19:49] Anand-shreya commented on #104
I also want to contribute, can you please assign this to me.

[2022-10-23 16:18] Anand-shreya commented on #69
@lmas3009 please check my PR #116

[2022-10-25 06:30] #104 closed

[2022-10-25 06:31] #97 closed

[2022-10-26 05:32] Anurag-Singh-04 commented on #45
Hey @lmas3009 can I work on this issue as the issue has been opened for a long time.

[2022-10-29 13:07] Anurag-Singh-04 commented on #45
Hey @lmas3009 what type of design you want ?

[2022-10-29 13:36] Anurag-Singh-04 commented on #45
Hey @lmas3009 I have made a PR #118 for this issue.

[2022-10-30 23:57] Anurag-Singh-04 commented on #45
Hey @lmas3009 can you please accept the PR #118 regarding this issue as today is the last day for hacktoberfest.

[2022-10-31 01:58] #45 closed

[2022-10-31 02:00] #27 closed